<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - surfschool</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/About.css" />
    <link rel="stylesheet" href="~/css/Createacc.css" />
</head>
<body class="hero-img">
    <section>
        <nav id="overlay">
            <img src="~/css/exit.svg" class="close-btn" id="close-menu">
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a><span>Just log in and enjoy!</span></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Signin">Sign in</a><span>Just log in and enjoy!</</span></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Signup">Sign up</a><span>Create account in our app!</span></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About App</a><span>Read about app!</span></li>
            </ul>
            <div class="bottom-menu">
                <h5>Get in touch</h5>
                <div class="social-media">
                    <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
                    <a href="https://youtube.com"><i class="fa fa-youtube"></i></a>
                    <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
                    <a href="https://linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </nav>
    </section>
    <header>
        <a href="#"><img src="~/css/own-logo.svg" alt="surfing nerd inc" class="logo"></a>
        <img src="~/css/menu.svg" class="menu-btn" id="open-menu">
    </header>
    <script type="text/javascript" src="main/scripts/main.js"></script>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - surfschool - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
