@{
    ViewData["Title"] = "About Surf-school";

}

<section class="hero">
    <h1>Bee school!</h1>
    <h3>Read about app!</h3>

</section>
<section class="paczka">
    <div class="design-container">
        <div class="desing-content">
            <img src="~/assets/book.svg" class="secicon" />
            <h1>Bee school for teacher</h1>
            <p>Easier class managing</p>
            <p>Easier marking</p>
            <p>Easier life! </p>
            <a href="#" class="blueButton">Let's try!</a>
        </div>
        <div class="paczka-image">
            <img src="~/assets/komp-tabela.jpg" alt="image" class="image">
        </div>
        <div class="nazwasekcji">
            For teacher
        </div>
    </div>
</section>
<section class="paczkadwa">
    <div class="mobile-container">
        <div class="nazwasekcji">
            On mobile devices
        </div>
        <div class="paczka-image">
            <img src="~/assets/mob.png" alt="image" class="image">
        </div>
        <div class="mobile-content">
            <img src="~/assets/phone .svg" class="secicon">
            <h1>Bee school on mobile <br>device</h1>
            <p>Use where ever you are</p>
            <p>Use on iPad / iPhone</p>
            <p>On android base devices</p>
            <a href="#" class="purpleButton">Let's try!</a>
        </div>
    </div>
</section>
<section class="paczkatrzy">
    <div class="parent-container">
        <div class="parent-content">
            <img src="~/assets/personicon.svg" class="secicon" />
            <h1>Bee school for parents</h1>
            <p>Control your child!</p>
            <p>Add new account</p>
            <p>Be(e) smart Parent!</p>
            <a href="#" class="pinkButton">Let's try!</a>
        </div>
        <div class="paczka-image">
            <img src="~/assets/parents.jpg" alt="image" class="image">
        </div>
        <div class="nazwasekcji">
            For Parents
        </div>
    </div>
</section>