@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <h1>Bee school!</h1>
    <h3>Modern app, that can help you, <br> manage your's school life!</h3>
    <h5>No matter who you are, <br> teacher, parent or student</h5>
    <a href="http://localhost/beeschool/main/pages/contact.php" class="blueButton">Let's chat!</a>
</section>