
@{
    ViewData["Title"] = "Sign up";
}

    <section>
        <form class="loginform">
            <fieldset>
                <legend>Fill the gaps to create account</legend>
                <div>
                    <label>User mail</label><br>
                    <input type="email" id="username" name="username" placeholder="User name..." />
                </div>
                <div>
                    <label>First name</label><br>
                    <input type="text" id="userfirstname" name="firstname" placeholder="Your first name..." />
                </div>
                <div>
                    <label>Last name</label><br>
                    <input type="text" id="userlastname" name="lastname" placeholder="Your last name..." />
                </div>
                <div>
                    <label>Password</label><br>
                    <input type="password" id="userpassword" name="password" placeholder="Password..." />
                </div>
                <div>
                    <label>Confrim Password</label><br>
                    <input type="password" id="userpassword2" name="password2" placeholder="Confrim password..." />
                </div>
                <div>
                    <div id="log_err_msg"></div><br>
                    <button type="submit" class="submit-btn">Click to register!</button>
                </div>
            </fieldset>
            </form>
    </section>

