
@{
    ViewData["Title"] = "Sign in";
}

<section>
    <form class="loginform" method="POST" action="../php/zaloguj.php">
        <fieldset>
            <legend>Fill the gaps to log in!</legend>
            <div>
                <label>User mail</label><br>
                <input type="email" id="mail" name="mail" placeholder="Your mail..." />
            </div>
            <div>
                <label>Password</label><br>
                <input type="password" id="userpassword" name="password" placeholder="Password..." />
            </div>
            <div>
                <button type="submit" class="submit-btn">Click to log in</button>
                <div id="log_err_msg">
                </div>
        </fieldset>
    </form>
 </section>


